# Virtual Environment
venv/

# Python cache files
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Model files (consider if you want to store these elsewhere)
models/*.h5
models/*.keras

# Large data files
data/processed/

# OS files
.DS_Store